@import "../../css/colors.scss";

.addPokemonForm {
  margin: 0 auto;
  width: 50rem;
  height: 20rem;
  border: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;

  .infoContainer {
    display: flex;
    justify-content: center;

    .newPokemonLabel {
      width: 8rem;
      font-weight: 600;
      align-self: center;
    }
    .newPokemonInput {
      width: 20rem;
      appearance: unset;
      background-color: transparent;
      border: none;
      border-bottom: 2px groove $border-dark;
      padding-bottom: 0.2rem;
    }

    .newPokemonInput:focus {
      outline: none;
    }
  }

  .infoContainerGroup {
    display: flex;
    justify-content: center;

    .newPokemonLabel {
      width: 3.9rem;
      font-weight: 600;
      margin: 0 1rem;
      align-self: center;
      padding-bottom: 0.2rem;
    }
    .newPokemonInput,
    select {
      width: 9rem;
      appearance: unset;
      background-color: transparent;
      border: none;
      border-bottom: 2px groove $border-dark;
      padding: 0 0.5rem 0.3rem;
    }

    .newPokemonInput:focus,
    select:focus {
      outline: none;
    }
  }
}
.submitButton,
.fetchButton,
.openButton {
  padding: 0.65rem 3rem;
  border-radius: 1rem;
  border: none;
  margin: 0 auto;
  font-weight: 600;
  cursor: pointer;
}

.fetchButtonContainer,
.openButton {
  display: flex;
}

.openButton {
  margin-top: 2rem;
}

.closeButton {
  width: 2rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 3rem;
  border: none;
  cursor: pointer;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  height: 40rem;
  width: 45rem;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 1rem;
  background-color: $main-background-color-dark;
  text-align: center;
}
