@import "../../css/colors.scss";

.menuDropdownContainer {
  background-color: $background-color-transparent;
  .menu {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
  }

  .menuBars {
    padding: 0.5rem;
    border: none;
  }
}
