.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 12rem;
  width: 10rem;
  background-color: blue;
  align-self: center;
  margin: 1rem;
  border: none;
  border-radius: 1rem;

  img {
    width: 9rem;
    height: 9rem;
    align-self: center;
  }

  .nameContainer {
    display: flex;
    border-bottom: 2px solid black;
    padding: 0.3rem 0;
    h4 {
      text-align: center;
      margin: 0 auto;
      font-size: 0.8rem;
    }
  }
}
