.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 12rem;
  width: 10rem;
  background-color: blue;
  align-self: center;
  margin: 1rem;
  border: none;
  border-radius: 1rem;

  img {
    width: 7rem;
    height: 7rem;
    align-self: center;
  }

  .nameContainer {
    h4 {
      text-align: center;
      margin: 0 auto;
    }
  }
}
