.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 15rem;
  height: 20rem;
  background-color: blue;
  align-self: center;
  margin: 1rem;
  border: none;
  border-radius: 1rem;

  img {
    width: 10rem;
    height: 10rem;
  }

  .pokemonInfo {
    display: flex;
    flex-direction: column;

    h2,
    h4 {
      margin: 0 auto;
    }

    h4 {
      margin-left: 0.5rem;
      align-self: end;
      padding-bottom: 0.2rem;
    }
  }
}
