$main-background-color-dark: black;
$main-background-color-light: white;
$background-color-transparent: transparent;
$background-color-home-info: #9dc7e6;
$background-color-menu: #84b5ff;

$main-font-color-light: grey;

$blue-pokemon-color: #034c8c;
$yellow-pokemon-color: #f2cb05;

$border-dark: black;
