@import "../../css/colors.scss";

section {
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;
}

img {
  border-radius: 1rem;
  height: 45rem;
  width: 35rem;
}

aside {
  width: 30rem;
  background-color: $background-color-home-info;
  height: 30rem;
  border-radius: 2rem 0rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 1px -3px 46px 0px rgba(0, 0, 0, 0.582) inset;
}

p {
  padding: 1rem;
}

.buttonsContainer {
  align-self: center;
}
.buttons {
  background-color: $background-color-transparent;
  border: none;
  margin-left: 1rem;
  cursor: pointer;

  .playImage {
    width: 6rem;
    height: 4rem;
  }

  .myPokemonsImage {
    width: 14rem;
    height: 4rem;
  }

  .loginButton {
    width: 6rem;
    height: 4rem;
  }
}
