.header {
  width: 100%;
  height: 15rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;

  .titleContainer {
    align-self: center;
    img {
      width: 30rem;
      height: 12rem;
    }
  }

  .loggedInMenu {
    display: flex;
    align-items: center;
  }

  .authButton {
    font-weight: 600;
    padding: 1rem 3rem;
    border: none;
    border-radius: 2rem;
  }
}
