.header {
  width: 100%;
  height: 8rem;
  padding: 0 2rem;
  display: flex;
  margin-top: 2rem;

  .titleContainer {
    width: 10rem;
    height: 3rem;

    img {
      width: 17rem;
      height: 7rem;
    }
  }

  .menuContainer {
    background-color: red;
    width: 35rem;
  }

  .loggedInMenu {
    display: flex;
    align-items: center;
  }

  .authButton {
    color: #233d22;
    font-weight: 600;
    padding: 1rem 3rem;
    border: none;
    border-radius: 2rem;
  }
}
