.buyPokemonsContainer {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  height: 100vh;
  width: 80rem;
  margin: 0 auto;

  .pokemonsContainer {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 70rem;
    justify-content: center;
  }

  .fetchButton {
    margin: 0 auto;
    padding: 0.8rem;
    border-radius: 10rem;
    background-color: #034c8c;
    border: none;
    font-weight: 600;
    cursor: pointer;
    align-self: center;
    color: #f2cb05;
  }

  .fetchButton:hover {
    transition: 0.3s;
    color: #034c8c;
    background-color: #f2cb05;
  }
}
