.buyPokemonsContainer {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  height: 100vh;
  width: 80rem;
  margin: 0 auto;

  .pokemonsContainer {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 70rem;
    justify-content: center;
  }

  .fetchButton {
    margin: 0 auto;
    background-color: red;
    height: 2.7rem;
    border-radius: 3rem;
    border: none;
    font-weight: 600;
    font-size: 2rem;
    cursor: pointer;
    align-self: center;
  }
}
